.feature {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 50%;
  box-shadow:  0 0 10px rgba(white,0.3);
  img {
    border-radius: 50%;
  }
  div {
    position: absolute;
    bottom: 10%;
    padding: .25em .5em;
    font-size: 1.1em;
    z-index: 3;
  }
}
.features {
  width: 90vw;
  padding-bottom: 100%;
  position: relative;
  @apply mb-4;
  > *:nth-child(1) {
    left: 5%;
  }
  > *:nth-child(2) {
    left: 50%;
    top: 10%;
  }
  > *:nth-child(3) {
    left: 25%;
    top: 45%;
  }
}
