.form {
  p {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  label {
    width: 100%;
    display: block;
  }
  .error {
    @apply text-yellow;
    font-style: italic;
  }
  .select {
    margin-top: 1.5em;
  }
}
